/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

nav {
  //  text-align: left;
    border: 2x;
   // float: right;
    font-size: 15pt;
    //background-color: blue;
}

//w3.schools.com/css/tryit.asp?filename=trycss_float5 reference used.
li{
       display: inline;       
}

ul {
    float: left;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
  float: left;
  margin: 0 auto;
  width: 6em;
  text-decoration: none;
  padding: 0.2em 0.6em;
  
}

h1,h2,h3 {  //color: blue;
                
                text-align: center;
                font-style: italic;}

body
{
  //  background-color: cyan;
}


